@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.about {
  width: 60%;
  margin: 0 auto;
  padding: 60px;
}

.about h2 {
  text-align: center;
  padding-top: 70px;
}

.about p {
  text-align: justify;
  margin: 20px auto;
  width: 100%;
}

.mb-20 {
  margin-bottom: 60px;
}
/* 
.lg-nv {
  display: none;
} */

.arrow {
  height: 150px;
  padding: 20px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 300ms ease-out, transform 100ms ease-out,
    visibility 300ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

img.vert-move {
  -webkit-animation: mover 0.3s infinite alternate;
  animation: mover 0.3s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 0.3s infinite alternate;
  animation: mover 0.3s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 768px) {
  .form {
    width: 80%;
  }

  .sm-nv {
    width: 100%; 
  } 
  .md-6 {
    display: none;
  }
  .image-right {
    margin-left: 0px !important;
  }
  .bd {
    left: 50px;
  }
  .section-about-us h1 {
    font-size: 29px;
}
.section-about-us h4 {
  font-size: 16px;
}
.mg-auto {
  margin: 0 auto;
}
}


@media only screen and (max-width: 500px) {

  .sm-nv {
    display: none; 
  } 
  .section-about-us h1 {
      font-size: 25px;
  }
  .section-about-us h4 {
    font-size: 16px;
  }
  
}




